@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Spartan', sans-serif;
		
}
.container{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 100vh;
	background-color: #3a60cb;
}
.content{
	background-color: #fff;
	border-radius: 5px;
	width: 50%;
	height: 85%;
}
.first-column{
	background-color: #ecb42b;
	width: 38%;
}
.img{
	width: 130%;
	height: 100%;
}
.second-column{
	text-align: center;
}
.title{
	font-size: 24px;
	padding: 15px;
	margin-top: 30px;
	text-weight: bold;
	text-transform: capitalize;
}
.btn{
	width: 85%;
	border-radius: 30px;
	padding: 10px 50px;
	margin-top: 15px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-width: 0;
}
.btn-account{
	background-color: #5076db;
	padding: 15px;
}
.btn-account:hover{
	background-color: #7390dd;
	border: 1px solid #5076db;
}
.btn-google{
	background-color: #e7443d;
}
.btn-google:hover{
	background-color: #e8736e;
	border: 1px solid #e7443d;
}
.btn-facebook{
	background-color: #3c5a96;
}
.btn-facebook:hover{
	background-color: #526997;
	border: 1px solid #3c5a96;
}
.fab{
	padding: 7px;
}
.form{
	width: 100%;	
}
::placeholder{
	padding: 15px;
}
.form input{
	width: 35%;
	height: 45px;
	border-radius: 30px;
	margin: 7px;
	border-width: 0;
	border: 1px solid;
	border-color: lightgray;
	padding: 10px;
}
input:focus {
	border:1px solid gray;
	outline:none;
}
.link{
	text-decoration: none;
	margin-top: 500px;
}
.line{
	width: 100%;
    border-bottom: 1px solid gray;
	border-bottom-color: lightgray;
	margin-top: 20px;
	margin-bottom: 5px;
}
.msg{
	color: red;
	margin: 15px;
}
